{% extends '::base.html.twig' %}

{% block body %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{ asset('img/plat1.jpg') }}">
                <div class="carousel-caption" style="top:200px;width:40%;margin: auto;">
                    <form class="form-group">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control input-lg" placeholder="Entrez une recette..."/>
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for receipt in receipts %}
        {{ receipt.id }}
        {{ receipt.name }}
    {% endfor %}


{% endblock %}

