{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="col-md-4 col-sm-12 center col-md-offset-4" style="margin-top: 250px">
        <div class="content-box">
            <div class="content">
                <div class="form-login">
{% include "@FOSUser/Registration/register_content.html.twig" %}
       </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
