body {
    background-color: #eee;
    overflow-x: hidden;
}

.content-box .content {
    padding: 20px;
}

.content-box {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px 0px #dadada;
    box-shadow: 0px 1px 2px 0px #dadada;
}

nav.navbar {
    position: relative;
    padding: 0;
    height: 70px;
    background: #F47321 !important;
    color: #fff !important;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1.5px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1.5px 6px rgba(0, 0, 0, 0.1);
    z-index: 12;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: transparent !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-brand {
    padding: 15px 25px;
    color: #fff;
}

.navbar-brand:hover {
    color: #eee;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: transparent !important;
    }
}

.navbar-brand {
    color: #fff !important;
}

.logo-login {
    width: 130px;
    margin-bottom: 20px;
}

.form-login {
    width: 60%;
    margin: auto;
}

.submit-login {
    width: 100%;
    background-color: #3cbfe0;
    border: 0px;
    color: #fff;
    padding: 10px;
}

.container-content {
    padding: 20px;
}

.content-box .content-title {
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    overflow: hidden;
    line-height: 50px;
    /*color: #fff;*/
    padding-left: 10px;
}

.warning-bg {
    background: #ffbb33 !important;
}

.content-box {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px 0px #dadada;
    box-shadow: 0px 1px 2px 0px #dadada;
}

.white {
    color: #fff !important;
}

.success-bg {
    background: #59ba1f !important;
}

.danger-bg {
    background: #f44336 !important;
}

.info-bg {
    background: #49ceff !important;
}

select {
    border: 1px solid #eee !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0) !important;
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0) !important;
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0) !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0) !important;
}

.content-title {
    width: 100%;
}

.content-title {
    max-height: 30px;
}

p {
    font-size: 40px;
}

.content-box {
    margin-bottom: 10px;
}

.data-info .dataTables_wrapper {
    background: #49ceff;
    color: #fff;
}

thead>tr>th {
    color: #fff;
}

.data-info .dataTables_wrapper tr {
    color: #333;
}

.dataTables_wrapper {
    -webkit-box-shadow: 0px 1px 2px 0px #dadada;
    box-shadow: 0px 1px 2px 0px #dadada;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}

.toolbar {
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 3px 10px;
}

table.display {
    border-bottom: 0 !important;
    width: 100% !important;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

.data-info thead tr {
    background: #3cb6e3 !important;
}

table.display tbody tr,
table.display tbody tr td {
    background: #fff !important;
    font-weight: 500;
}

.zero-m {
    font-weight: 600;
}

.btn-options {
    font-size: 23px;
}

.no-button {
    background-color: transparent;
    border: none;
    display: inline-block;
    margin: 0px 8px;
}

.text-medium {
    font-size: 12px;
}

.size-title {
    font-size: 20px;
    font-weight: 300;
}

.btn-add {
    font-size: 20px;
    margin: 6px 15px;
    cursor: pointer;
}

.separate-menu {
    background-color: #111;
    color: #999;
    line-height: 50px;
    padding-left: 10px;
}

#nav {
    float: left;
    width: 280px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
}

#nav li a {
    display: block;
    padding: 10px 15px;
    background: #ccc;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #999;
    text-decoration: none;
    color: #000;
}

#nav li a:hover,
#nav li a.active {
    background: #999;
    color: #fff;
}

#nav li ul {
    display: none; // used to hide sub-menus
}

#nav li ul li a {
    padding: 10px 25px;
    background: #ececec;
    border-bottom: 1px dotted #ccc;
}

.tables-bdd {
    line-height: 14px !important;
    margin-left: 15px;
    font-size: 11px;
}

.title-bdd {
    font-size: 14px;
    color: #999;
    float: left;
}

.icon-bdd {
    float: left;
}

.group-title-bdd {
    width: 100%;
    height: 40px;
}

#sidebar-wrapper ul li.all-databases .group-title-bdd a {
    line-height: 40px !important;
}

#sidebar-wrapper>ul>li.all-databases>div>a>i {
    display: inline;
}

.action-table {
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 150px;
    background-color: #fff;
    color: #333333;
    -moz-box-shadow: 0px 0px 20px 0px #c0c0c0;
    -webkit-box-shadow: 0px 0px 20px 0px #c0c0c0;
    -o-box-shadow: 0px 0px 20px 0px #c0c0c0;
    box-shadow: 0px 0px 20px 0px #c0c0c0;
    filter: progid: DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=NaN, Strength=20);
}

.title-action {
    background-color: #3cbfe0;
    color: #fff;
    padding: 10px 18px;
}

.icon-action {
    font-size: 25px;
    padding: 4px;
    cursor: pointer;
}

.actions-action {
    padding: 10px 20px;
}

td.info-color.sorting_1 a {
    color: #333;
}

table tbody p {
    font-size: 14px;
    margin: 0px;
}

.btn-info {
    color: #fff;
    background-color: #F47321;
    border-color: #F47321;
}

.img-circle {
    height: 100px;
}

.table>tbody>tr>td {
    padding: 6px;
    vertical-align: middle;
}

table tbody input {
    border: none;
    background-color: #f7f4f4;
    color: #333;
}

.btn-select-data {
    float: right;
    width: 200px;
}

.icon-size {
    font-size: 15px;
}

.m_logo_img {
    width: 177px;
    height: 35px;
}