{% extends '::base.html.twig' %}

{% block body %}

    <div class="alert alert-danger" role="alert">
        <a href="#" class="alert-link">Vous n'avez pas les droits</a>
    </div>


{% endblock %}

